.header {
  width: 100%;
  color: aliceblue;
  height: 10rem;
  background-color: #e73e67;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header > h1 {
  margin-left: 2rem;
}
Link {
  all: unset;
}
